body{
	background:      url("lib/login_background_img.jpg") no-repeat;
	background-size: cover;
	}

.card-container.card{
	max-width: 350px;
	padding:   20px 40px 40px;
	}

.btn{
	height:              36px;
	-moz-user-select:    none;
	-webkit-user-select: none;
	user-select:         none;
	cursor:              default;
	}

/*
 * Card component
 */
.card{
	background-color: rgba(247, 247, 247, 0.85);
	/* just in case there no content*/
	padding:          20px 25px 30px;
	margin:           15px auto 25px;
	/* borders */
	border:           0;
	border-top:       3px solid rgb(255, 119, 0);
	}

/*
 * Form styles
 */

h4{
	text-align: center;
	color:      rgb(77, 98, 123);
	}

/*.reauth-email{*/
/*display:            block;*/
/*color:              #404040;*/
/*line-height:        2;*/
/*margin-bottom:      10px;*/
/*font-size:          14px;*/
/*text-align:         center;*/
/*overflow:           hidden;*/
/*text-overflow:      ellipsis;*/
/*white-space:        nowrap;*/
/*-moz-box-sizing:    border-box;*/
/*-webkit-box-sizing: border-box;*/
/*box-sizing:         border-box;*/
/*}*/

.form-signin #inputEmail,
.form-signin #inputPassword,
form label{
	/*direction: ltr;*/
	/*height:    44px;*/
	font-size: 16px;
	}

form input[type=email],
form input[type=password],
form input[type=text],
.custom-checkbox,
form select,
form button{
	width:              100%;
	display:            block;
	margin-bottom:      10px;
	z-index:            1;
	position:           relative;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
	}

.form-signin .form-control:focus{
	border-color:       rgb(104, 145, 162);
	outline:            0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
	box-shadow:         inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
	}

.btn.btn-signin{
	background-color:      rgb(104, 145, 162);
	padding:               0;
	font-weight:           700;
	font-size:             14px;
	height:                36px;
	-moz-border-radius:    3px;
	-webkit-border-radius: 3px;
	border-radius:         3px;
	border:                none;
	-o-transition:         all 0.218s;
	-moz-transition:       all 0.218s;
	-webkit-transition:    all 0.218s;
	transition:            all 0.218s;
	}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus{
	background-color: rgb(255, 119, 0);
	}

.forgot-password{
	color: rgb(104, 145, 162);
	}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
	color: rgb(255, 119, 0);
	}


.logo{
	max-width:100%;
	max-height:100%;
	}